// _header

header {
  height: 70px;
  background-color: black;
  nav {
    width: 60%;
    margin: auto;
    .logo {
      line-height: 70px;
      i {
        color: #1ED760;
      }
    }
  }
}
