// main

main {
  background-color: #191919;
  height: 100%;
  section {
    width: 60%;
    margin: auto;
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    .box_album {
      padding: 15px 40px;
      margin: 10px;
      background-color: black;
      h2,h3,h4 {
        text-align: center;
      }
      img {
        width: 200px;
        height: 200px;
      }
    }
  }
}
