// main

main {
  background-color: #191919;
  height: 100%;
  section {
    width: 60%;
    margin: auto;
    padding: 100px 0;
    @include displayFlex;
    .box_album {
      padding: 25px;
      margin: 15px;
      background-color: black;
      h2,h3,h4 {
        text-align: center;
        padding: 3px 0;
      }
      img {
        width: 150px;
        height: 150px;
      }
    }
  }
}
